
    .commixt-bg {
      background-color: coral;
    }
    .commixt-bd {
      border-color: coral;
    }
  
    .terra-bg {
      background-color: chocolate;
    }
    .terra-bd {
      border-color: chocolate;
    }
  
    .locus-bg {
      background-color: lawngreen;
    }
    .locus-bd {
      border-color: lawngreen;
    }
  
    .opt-bg {
      background-color: aquamarine;
    }
    .opt-bd {
      border-color: aquamarine;
    }
  
    .proximity-bg {
      background-color: yellowgreen;
    }
    .proximity-bd {
      border-color: yellowgreen;
    }
  
    .sonos-bg {
      background-color: undefined;
    }
    .sonos-bd {
      border-color: undefined;
    }
  
    .sonic-art-bg {
      background-color: coral;
    }
    .sonic-art-bd {
      border-color: coral;
    }
  
    .d-vr-bg {
      background-color: chocolate;
    }
    .d-vr-bd {
      border-color: chocolate;
    }
  
    .data-visualization-information-art-bg {
      background-color: lawngreen;
    }
    .data-visualization-information-art-bd {
      border-color: lawngreen;
    }
  
    .games-physical-computing-bg {
      background-color: aquamarine;
    }
    .games-physical-computing-bd {
      border-color: aquamarine;
    }
  
    .interactive-bg {
      background-color: yellowgreen;
    }
    .interactive-bd {
      border-color: yellowgreen;
    }
  