.sonos-bg {
  background-color: rgb(139,0,139) !important;
}
.sonos-bgl {
  background-color: rgb(235, 224, 235) !important;
}
.sonos-fg {
  color: rgb(139,0,139) !important;
}
.sonos-bd {
  border-color: rgb(139,0,139) !important;
}
.commixt-bg {
  background-color: rgb(178,76,101) !important;
}
.commixt-bgl {
  background-color: rgb(235, 224, 227) !important;
}
.commixt-fg {
  color: rgb(178,76,101) !important;
}
.commixt-bd {
  border-color: rgb(178,76,101) !important;
}
.terra-bg {
  background-color: rgb(191,113,130) !important;
}
.terra-bgl {
  background-color: rgb(235, 224, 227) !important;
}
.terra-fg {
  color: rgb(191,113,130) !important;
}
.terra-bd {
  border-color: rgb(191,113,130) !important;
}
.locus-bg {
  background-color: rgb(217,131,150) !important;
}
.locus-bgl {
  background-color: rgb(235, 224, 227) !important;
}
.locus-fg {
  color: rgb(217,131,150) !important;
}
.locus-bd {
  border-color: rgb(217,131,150) !important;
}
.opt-bg {
  background-color: rgb(145, 19, 43) !important;
}
.opt-bgl {
  background-color: rgb(235, 224, 226) !important;
}
.opt-fg {
  color: rgb(145, 19, 43) !important;
}
.opt-bd {
  border-color: rgb(145, 19, 43) !important;
}
.proximity-bg {
  background-color: rgb(78,8,52) !important;
}
.proximity-bgl {
  background-color: rgb(235, 224, 231) !important;
}
.proximity-fg {
  color: rgb(78,8,52) !important;
}
.proximity-bd {
  border-color: rgb(78,8,52) !important;
}
.interactive-bg {
  background-color: rgb(116,89,116) !important;
}
.interactive-bgl {
  background-color: rgb(235, 224, 235) !important;
}
.interactive-fg {
  color: rgb(116,89,116) !important;
}
.interactive-bd {
  border-color: rgb(116,89,116) !important;
}
.sonic-art-bg {
  background-color: rgb(75,37,109) !important;
}
.sonic-art-bgl {
  background-color: rgb(230, 224, 235) !important;
}
.sonic-art-fg {
  color: rgb(75,37,109) !important;
}
.sonic-art-bd {
  border-color: rgb(75,37,109) !important;
}
.d-vr-bg {
  background-color: rgb(153,150,165) !important;
}
.d-vr-bgl {
  background-color: rgb(226, 224, 235) !important;
}
.d-vr-fg {
  color: rgb(153,150,165) !important;
}
.d-vr-bd {
  border-color: rgb(153,150,165) !important;
}
.data-visualization-information-art-bg {
  background-color: rgb(38,55,85) !important;
}
.data-visualization-information-art-bgl {
  background-color: rgb(224, 228, 235) !important;
}
.data-visualization-information-art-fg {
  color: rgb(38,55,85) !important;
}
.data-visualization-information-art-bd {
  border-color: rgb(38,55,85) !important;
}
.games-physical-computing-bg {
  background-color: rgb(138,43,226) !important;
}
.games-physical-computing-bgl {
  background-color: rgb(230, 224, 235) !important;
}
.games-physical-computing-fg {
  color: rgb(138,43,226) !important;
}
.games-physical-computing-bd {
  border-color: rgb(138,43,226) !important;
}