.sonos-bg {
  background-color: rgb(178,76,101);
}
.sonos-bd {
  border-color: rgb(178,76,101);
}
.sonos-fg {
  color: rgb(178,76,101);
}
.commixt-bg {
  background-color: rgb(139,0,139);
}
.commixt-bd {
  border-color: rgb(139,0,139);
}
.commixt-fg {
  color: rgb(139,0,139);
}
.terra-bg {
  background-color: rgb(191,113,130);
}
.terra-bd {
  border-color: rgb(191,113,130);
}
.terra-fg {
  color: rgb(191,113,130);
}
.locus-bg {
  background-color: rgb(217,131,150);
}
.locus-bd {
  border-color: rgb(217,131,150);
}
.locus-fg {
  color: rgb(217,131,150);
}
.opt-bg {
  background-color: rgb(145, 19, 43);
}
.opt-bd {
  border-color: rgb(145, 19, 43);
}
.opt-fg {
  color: rgb(145, 19, 43);
}
.proximity-bg {
  background-color: rgb(78,8,52);
}
.proximity-bd {
  border-color: rgb(78,8,52);
}
.proximity-fg {
  color: rgb(78,8,52);
}
.interactive-bg {
  background-color: rgb(116,89,116);
}
.interactive-bd {
  border-color: rgb(116,89,116);
}
.interactive-fg {
  color: rgb(116,89,116);
}
.sonic-art-bg {
  background-color: rgb(75,37,109);
}
.sonic-art-bd {
  border-color: rgb(75,37,109);
}
.sonic-art-fg {
  color: rgb(75,37,109);
}
.d-vr-bg {
  background-color: rgb(153,150,165);
}
.d-vr-bd {
  border-color: rgb(153,150,165);
}
.d-vr-fg {
  color: rgb(153,150,165);
}
.data-visualization-information-art-bg {
  background-color: rgb(38,55,85);
}
.data-visualization-information-art-bd {
  border-color: rgb(38,55,85);
}
.data-visualization-information-art-fg {
  color: rgb(38,55,85);
}
.games-physical-computing-bg {
  background-color: rgb(138,43,226);
}
.games-physical-computing-bd {
  border-color: rgb(138,43,226);
}
.games-physical-computing-fg {
  color: rgb(138,43,226);
}